/*Font settings*/
* {
    font-family:'Courier New', Courier, monospace;
    font-size: 2vw;
}
/*Responsive Layout*/
@media screen and (max-width: 600px) {
    #work {
      flex: 100%;
      max-width: 100%;
    }
}
/*Links*/
a {
    color:#caa2df;
    text-decoration: none;   
}
/*Image properties*/
img {
    border: 3px dashed #caa2df;
    border-radius: 6%;
}
/*Image hover effect*/
img:hover {
    box-shadow: 2px 2px 2px 2px #77a6d5;
    transition: .3s ease;
}
/*Header background image*/
header {
    background-image: url("../images/header-img.jpg");
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Navigation*/
nav ul, nav li {
   display: flex;
   justify-content: right;
   text-decoration: underline;
   color: #caa2df;
   list-style-type:none;
   padding:1%;
   font-size:2vw;
   text-shadow: 2px 2px #1e5c9b;
}
/*Page header/title*/
h1 {
    font-size: 4vw;
    padding:2%;
    color:#FFFFFF;
    text-shadow: 3px 3px #caa2df;
    margin-top: 0;
}
/*Floating header settings*/
h2, h3 {
    float:left;
    padding:5%;
    position:relative;
    font-size:150%;
    font-weight:bolder;
}
/*About Me & Content*/
main {
    position: relative;
    margin: 0 auto;
    max-width: 80%;
}
.content {
    text-align:justify;
    padding: 3%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Work section*/
#work img, .surf-report-text, .wall-text, .calculator-text, .pastel-puzzles-text, .bus-buddy-text {
    margin-inline-start: 3vw;
}
.surf-report img {
    width: 50vW;
    object-fit: cover;
}
.wall img, .calculator img, .pastel-puzzles img, .bus-buddy img, .wall-text, .calculator-text, .pastel-puzzles-text, .bus-buddy-text {
    align-items: flex-start;
    max-height: 25vw;
    max-width: 20vw;
    object-fit: cover;
}
.wall img, .calculator img, .pastel-puzzles img, .bus-buddy img{
    height:40vw;
    width: 40vw;
}
.surf-report-text, .wall-text, .calculator-text, .pastel-puzzles-text, .bus-buddy-text {
    position: relative;
    bottom:6%;
    left:0%;
    background-color: #caa2df;
    padding: 3%;
    color: #FFFFFF;
    border-radius: 6%;
     
}
/*Contact Section*/
.contact {
    margin: 0%;
}